@import "../../../default";
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?-lzukky');
  src: url('fonts/icomoon.eot?#iefix-lzukky') format('embedded-opentype'),
       url('fonts/icomoon.woff?-lzukky') format('woff'),
       url('fonts/icomoon.ttf?-lzukky') format('truetype'),
       url('fonts/icomoon.svg?-lzukky#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.atom-button-facebook {
  height: 30px;
  width: 30px;
  background: $bg-input;
}

.atom-button-facebook:before {
  content: "\e600";
  font-family: facebook;
  margin: 0 5px;
  vertical-align: baseline;
}